.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(111, 0, 255, 0.45)
    ),
    /* bottom, image */
    url("./assets/img/cassette-tape.jpg");
  background-size: cover;
  padding: 5.4rem 5.2rem 2rem 3rem;
  width: 110vw;
  height: 50vw;
  margin: -2rem 0rem 1rem -1rem;
}

#title {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, .6);
}

#subtitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, .6);
  max-width: 500px;
  display: block;
  margin: 0rem auto;
}

.card {
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .3);
  max-width: 440px;
  text-align: center;
}

/***** Medium devices (tablets, 768px and up) *****/
@media (min-width: 768px) {
  .hero {
  padding: 7.2rem 2rem 2rem 2rem;
  width: 110vw;
  height: 40vw;
  margin: -3rem 0rem 1rem -3rem;
}

  #title {
    font-size: 5rem;
  }

}
