@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Saira:400,700&display=swap');

.App {
  margin: 1rem;
  font-family: 'Saira', Arial, Helvetica, sans-serif;
}

.hero {
  background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(111, 0, 255, 0.45)
    ),
    url("./assets/img/cassette-tape.jpg");
  background-size: cover;
  
  margin: 0rem -1rem 1rem !important;
}

#title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, .6);
}

#subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, .6);
  max-width: 440px !important;
  display: block;
  margin: 0rem auto;
}

.login-card {
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .3);
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding: 0 0 1rem !important;
}

.search {
  display: block;
  margin: 1.5rem auto 0.1rem;
  background-color: #17a2b8;
}

.search-list {
  display: block;
  margin: .2rem auto 0.5rem;
  padding-right: 0rem !important;
  
}

.search-item {
  font-size: 0.8rem;
  padding: 0.4rem 1rem !important;
}

.search-item:hover {
  background-color: #a7dae7;
}

.player-button-row {
  display: block;
  margin: 0.4rem auto;
}

.playlist-builder {
  margin: 1rem auto 0;
  display: block;
}

.builder-tracks {
  font-size: .8rem;
}

.tape-image-card {
  margin: .5rem;
  max-width: 45%;
  padding: .2rem;
}

.tape-image-card:hover {
  opacity: 0.6;
}

.card {
  display: inline-block;
}

.card-body {
  padding: 8px !important;
  text-align: center;
}

.delete {
  font-size: 1rem;
}

.tape-cover-image {
  margin: -168px auto 1rem;
  display: block;
  max-width: 170px !important;
  z-index: -10;
  position: relative;
}

.tape-deck-image {
  display: block;
  margin: -92px auto 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
  padding: 0rem !important;
  border-radius: 8px;
  position: absolute;
}

.nav-pills > a {
    color: #17a2b8 !important;
}

.nav-pills > a.active {
    background-color: #17a2b8 !important;
    color: #fff !important;
}

.list-group-item .track-li {
  padding: 0.1rem .5rem !important;
}

.player-tape-label {
  margin: 150px 0 0;
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  font-size: .7rem;
  z-index: -1;
}

.YouTube-vid {
  margin-left: -1000px;
  opacity: 0;
}

.player-ui {
  margin-top: -110px;
  padding: 6px 0 0 10px !important;
  
  margin-right: -40px !important;
}

.ui-button {
  color: #333;
  font-size: 0.6rem;
}

.ui-button:hover {
  color: #999;
}

.playlist-builder-player {
  margin-top: 2rem;
  margin-bottom: -1rem !important;
}

.my-mixtape-list {
  margin-top: -2rem;
  padding: 0rem !important;
}

.flip-button {
  height: 36px;
  margin-bottom: 0.8rem;
}

.user-mixes {
  color: #17a2b8;
}
.user-mixes:hover {
  color: #999;
}

.url {
  font-size: .82rem;
  word-wrap: break-word;
}

footer {
  height: 40px;
  padding: 1rem 2rem 2rem;
  margin: 1rem -1rem 0rem;
  text-align: center;
}
/***** x-small devices only *****/
@media (max-width: 575.98px) { 
  .tape-deck-image {
  display: block;
  margin: -92px auto 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
  padding: 0rem !important;
  border-radius: 8px;
  max-width: 340px !important;
  position: absolute;
}

.player-ui {
  max-width: 240px !important;
}
}

/***** Small devices (landscape phones, 576px and up) *****/
@media (min-width: 576px) and (max-width: 767.98px) { 
  .tape-cover-image {
  margin: -266px auto 1rem;
  display: block;
  max-width: 320px !important;
  z-index: -10;
  position: relative;
}

.player-ui {
  margin-top: -380px !important;
  padding: -30px 0 0 10px !important;
  margin-right: -40px !important;
  max-width: 360px !important;
}

.ui-button {
  color: #333;
  font-size: 1.6rem;
}

.player-tape-label {
  margin: 194px 0 0;
  font-size: 1rem;
  z-index: -1;
}

.tape-deck-image {
  display: block;
  margin: -138px auto 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
  padding: 0rem !important;
  border-radius: 8px;
  max-width: 540px !important;
  position: absolute;
}
}

/***** Medium devices (tablets, 768px and up) *****/
@media (min-width: 768px) {
  .hero {
    background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(111, 0, 255, 0.45)
    ),
    url("./assets/img/cassette-tape-lg.jpg");
  background-size: cover;
  margin: 0rem -1rem 2rem !important;
}

  #title {
    font-size: 5rem;
}

  .tape-image-card {
  margin: .5rem;
  max-width: 31%;
}

.player-tape-label {
  margin: 240px 0 0;
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1.6rem;
  z-index: -1;
}

.tape-cover-image {
  margin: -430px auto 1rem;
  display: block;
  max-width: 370px !important;
  z-index: -10;
}

.tape-deck-image {
  margin-bottom: 100px;
  margin-top: -190px;
  max-width: 740px !important;
}

.player-ui {
  margin-top: -340px !important;
  padding: -30px 0 0 10px !important;
  margin-right: -40px !important;
  max-width: 360px !important;
}

.ui-button {
  font-size: 2rem;
}

.playlist-builder-player {
  max-width: 740px !important;
}

.my-mixtape-list {
  margin-top: -2rem;
  padding: 0rem !important;
  max-width: 740px !important;
}

}
